@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to left, #cfb0cf 6%, #f3e1e1 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: 3s;

}

.container {
  margin: 20px auto;
  height: 540px;
  background: linear-gradient(to left, #990399 6%, #fa9090 100%);

  border-radius: 17px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.col-md-10 {
  color: black;
}

.settings-tray {
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
  background: linear-gradient(to left, #fa9090 0%, #990399 100%);
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.settings-tray .no-gutters {
  background: linear-gradient(to left, #fa9090 0%, #990399 100%);
  padding: 100;
}

.settings-tray--right {
  float: right;
}

.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: #fff;
  margin-left: 79px;
  transition: 0.3s;
}

.settings-tray--right i:hover {
  color: #645f5f;
  cursor: pointer;
}

.search-box {
  background: linear-gradient(to left, #f55656 0%, #7e037e 100%);
  padding: 4px 5px;
  border-radius: 19px;
  width: 335px;
  margin-left: 20px;
}

.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}

.search-box .input-wrapper i {
  background-color: linear-gradient(to bottom, #f55656 0%, #7e037e 100%);
  margin-left: 7px;
  vertical-align: middle;
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
}

input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
}

input:focus {
  outline: none;
}

.friend-drawer {
  border-radius: 15px;
  padding: 8px 12px;
  margin-top: -15px;
  margin-right: 13px;
  margin-left: 4px;
  display: flex;
  vertical-align: baseline;
  background: linear-gradient(to left, #ababd6 6%, #f39fc9 100%);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s ease;
}

.friend-drawer--grey {
  background: linear-gradient(to left, #fa9090 0%, #990399 100%);

  margin-top: 56px;
  padding-bottom: -60px;
  padding-top: -78px;
}

.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}

.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
  color: white;
}

.friend-drawer .text p {
  margin: 0;
}

.friend-drawer .time {
  color: rgb(0, 0, 0);
}

.friend-drawer--onhover:hover {
  transform: scale(1.02);
  background: linear-gradient(to left, #cc6699 59%, #fdc4c4 100%);
  cursor: pointer;
}

.text-muted {
  color: #000000 !important;
}

.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: #ffffff !important;
}

hr {
  margin: 5px auto;
  width: 60%;
}

.chat-box-tray {
  background: linear-gradient(to left, #cc6699 59%, #ffb3b3 100%);
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: -70px;
  bottom: 0;
  margin-left: 480px;
  width: 630px;
  border-radius: 19px;
}

.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
}

.chat-box-tray i {
  color: white;
  font-size: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.chat-box-tray i:last-of-type {
  margin-left: 25px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

.input-wrapper .place::-webkit-input-placeholder {
  color: grey;
}

.row .placer::-webkit-input-placeholder {
  color: grey;
  padding-left: 20px;
}

.menu {
  float: left;
  height: 520px;
  width: 70px;
  border-radius: 19px;
  margin-top: 10px;
  margin-left: 10px;
  background: linear-gradient(to left, #9292d6 6%, #f39fc9 100%);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.menu .items {
  list-style: none;
  margin: auto;
  padding: 0;
}

.menu .items .item {
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 17pt;
}

.menu .items .item-active {
  background: linear-gradient(to right, #f37bb7 40%, #e64be6 100%);
  color: #fff;
}

.menu .items .item:hover {
  cursor: pointer;
  background: linear-gradient(to left, #f39fc9 6%, #9292d6 100%);
  color: #cfe5ff;
}

.received-chats-img {
  display: inline-block;
  width: 50px;
  float: left;
}

.received-msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received-msg-inbox {
  width: 57%;
}

.received-msg-inbox p {
  background: linear-gradient(to right, #eebad4 40%, #e69fe6 100%) repeat scroll 0 0;
  border-radius: 10px;
  color: #636363;
  font-size: 14px;
  margin-left: 1rem;
  padding: 1rem;
  width: 100%;
  box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}

p {
  overflow-wrap: break-word;
}

.time {
  color: #000000;
  display: block;
  font-size: 12px;
  margin: 12px 0 0px 20px;
}

.times {
  color: #000000;
  display: block;
  font-size: 12px;
  margin: 12px 0 0px 0px;
}

.outgoing-chats {
  overflow: hidden;
  margin: 26px 20px;
}

.outgoing-chats-msg p {
  background-color: #3a12ff;
  background: linear-gradient(to left, #8383e2 0%, #b35cb3 100%);
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}

.outgoing-chats-msg {
  float: right;
  width: 46%;
}

.outgoing-chats-img {
  display: inline-block;
  width: 50px;
  float: right;
  margin-right: 1rem;
}

.night-toggle {
  width: 33px;
  height: 33px;

  position: absolute;
}

.night-toggle:hover {
  cursor: pointer;
}

.moon {
  background-color: transparent;
  box-shadow: -6px 1px 0 3px white;
  border-left: 3px solid grey;
  margin-left: 13px;
  border-radius: 50%;
  width: 20px;
  height: 20px;

  transition: 2s;
}

.sun {
  background-color: white;
  box-shadow: 2px 0px 0px 1px grey;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  transition: 2s;
}

.emoji-drawer {
  display: grid;

  grid-template-rows: (1fr, 5fr);
  margin-top: -150px;
  transition: opacity 0.2s;
}

.hidden {
  opacity: 0;
}

.emoji {
  text-align: center;
  font-size: 24px;
  padding-left: 8px;
}

.emoji:hover {
  cursor: pointer;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  top: -4px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: linear-gradient(to left, #8383e2 0%, #b35cb3 100%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.text-container {
  height: 80vh;
  width: 47vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container h1{
  margin: 0;
  font-size: 120px;
  color: rgba(225,225,225, .01);
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.PLLWGq3IOvtphVdLG3zmGAHaEc&pid=Api&P=0");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  font-weight: 900;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}
